h1 {
    font-size: 4em;
    font-family: 'Pixelify Sans', sans-serif;
    background: -webkit-linear-gradient(rgba(255, 90, 90, 1), rgba(130, 5, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;

}

h2 {
    font-size: 2em;
    font-family: 'Pixelify Sans', sans-serif;
    background: -webkit-linear-gradient(rgb(90, 255, 123), rgb(5, 55, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.row {
    display: flex;
}

.canvas {
    border: 3px solid white;
}